<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/main.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="component component-c0000_openAccount">
            <div class="component component-c0000_openAccount bg">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-md-7">
                        <h2>Open a share account with us today</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-7">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-2">
                        <div class="btn btn-primary form-control">Open an account</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
