<appSettings>
  <add key="Epi.WebSockets.Enabled" value="false" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="PageChangedFrequency" value="Always;Always|Hourly;Hourly|Daily;Daily|Weekly;Weekly|Monthly;Monthly|Yearly;Yearly|Never;Never" />
  <add key="Priority" value="Low (0.0);0.0|Medium-low (0.25);0.25|Medium (0.5);0.5|Medium-high (0.75);0.75|High;1.0" />
  <add key="Tab1Layout" value="None;None|3 column (with borders);3Cols|3 column (no border between left and middle);3ColsDoubleSingle|2 column (single left, double right);2ColsSingleDouble" />
  <add key="Tab2Layout" value="None;None|3 column (with borders);3Cols|3 column (no border between left and middle);3ColsDoubleSingle|2 column (single left, double right);2ColsSingleDouble" />
  <add key="Tab3Layout" value="None;None|3 column (with borders);3Cols|3 column (no border between left and middle);3ColsDoubleSingle|2 column (single left, double right);2ColsSingleDouble" />
  <add key="Tab4Layout" value="None;None|3 column (with borders);3Cols|3 column (no border between left and middle);3ColsDoubleSingle|2 column (single left, double right);2ColsSingleDouble" />
  <add key="Tab5Layout" value="None;None|3 column (with borders);3Cols|3 column (no border between left and middle);3ColsDoubleSingle|2 column (single left, double right);2ColsSingleDouble" />
  <add key="Tab6Layout" value="None;None|3 column (with borders);3Cols|3 column (no border between left and middle);3ColsDoubleSingle|2 column (single left, double right);2ColsSingleDouble" />
  <add key="Colour" value="Grey;#455560;|Blue;blue|Green;green"/>
  <add key="Size" value="Full;col-md-12|Wide;col-md-8|Half;col-md-6|Narrow;col-md-4"/>
  <add key="Align" value="Left;left|Right;right|Centre;center"/>
  <add key="LinkModuleButtonColor" value="Select;|Orange;b1|Green;b3|Silver;b2"/>
  <add key="Button colour" value="Select;|Orange;b1|Green;b3|Silver;b2"/>
  <add key="Style" value="None;|Advice;advice|Download;download|Email;email|Account;account|Arrow;arrow"/>
  <add key="Titles" value="Mr|Mrs|Miss"/>
  <add key="FeedbackSubjects" value="Dealing|Customer Service|Website Suggestion|Website Issue|Other"/>
  <add key="ItemSortOrder" value="Alphabetical;Alphabetical|Date (newest first);DateDesc|Date (oldest first);DateAsc" />
  <add key="Target" value="_blank;_blank|_self;_self|_parent;_parent|_top;_top"/>
  <add key="AccountList" value="Register;register|Share;share|Ready-made ISA;isamaxir|Funds ISA;isamaxif|Stocks and Shares ISA;is" />
</appSettings>